@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.container {
    width: 1280px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-size {
    font-size: 27px;
    line-height: 27px;
}
.text-blue {
    color: #4bcaff;
}
.text-main {
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}

.menu-list-pagination {
    background: #35444F;  
    margin-top: 38px;

}
.menu-list-pagination li {
    border-left:1px solid #FFFFFF ;
    border-right:1px solid #FFFFFF ;
    padding: 25px 33px 20px;

}
.menu-list { 
    color: #FFFFFF;
}
.list-active-items {
    align-items: flex-start;
    margin-top: 48px;
}
.list-img{
    padding: 75px 290px;
    border: 1px solid #000000;
}
.list-active {
    border: 1px solid #000000;
    margin-right: 70px;
    margin-top: 0px;
    padding: 0;
}
   
.list-active li {
    padding: 27px 78px 27px 38px;
}
.list-text {
color: #495863;
}
.list-wiht-picture p{
   max-width: 902px ;
   margin-top: 37px;
   font-size: 18px;
line-height: 24px;
color: #2C2C2C;
}
.footer-menu-items {
    background: rgba(99, 105, 110, 0.48);
padding: 30px 25px ;
margin-top: 54px;
margin-bottom: 30px;
}
.footer-menu-items li a {
 color:  #0C1927;
 margin-right: 30px;
} 
.footer-text-span {
    margin-left: 82px;
}