.container {
    background-image:url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 1366px;
    min-height: 770px;
    font-family: 'Ubuntu', sans-serif;
}
.header-menu {
display: flex;
justify-content: space-between;
align-items: center;
padding: 18px 79px;
background: rgba(0, 0, 0, 0.4);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-item-text {
    font-weight: bold;
font-size: 22px;
line-height: 22px;
}
.header-item-text:hover a {
    color:#3CB878;
}
.header-icon {
    display: flex;
    align-items: center;
}
.header-icon span {
    font-size: 14px;
    line-height: 14px;
}
.header-icon span a {
    font-size: 14px;
    line-height: 14px;
}
.header-icon span a:hover {
    color:#3CB878;
}
.header-icon svg {
    fill: #fff;
    margin-right: 27px;
}
.header-icon svg:hover  {
    fill: #3CB878;
    cursor: pointer;
}
.header-log-in {
    border-left: 1px solid  rgba(255, 255, 255, 0.5) ;
    padding-left: 27px;
}
.form-box-small {
    width: 444px;
    padding: 31px 60px 38px;
    margin: 0 auto;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    background-color: #fff;
    margin-top: 54px;
    position: relative;
}
.form-square {
    width: 18px;
    height: 18px;
    background:  #3CB878;
    position: absolute;
    top: 29px;
    left: 0px;
}
.form-fields-wrapper {
    width: 324px;
    margin: 0 auto;
}
.form-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-log-in {
    font-size: 14px;
line-height: 14px;
color: #3CB878;
position: relative;
}
.form-log-in:hover, 
.form-text-color:hover {
    text-decoration: underline;
}
/* .form-log-in:hover::before {
    transform: scaleX(1);
    transition: transform 0.25s;
}
.form-log-in::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color:  #01813F;
    position: absolute;
    bottom: 0px;
    transform: scaleX(0);
} */
.form-item-text {
    font-size: 20px;
line-height: 20px;
color: #434343;
}
.form-social-network {
    margin-top: 15px ;
    margin-bottom: 31px;
    display: flex;
    justify-content: space-between;
}
.form-social-Facebook {
 font-size: 16px;
line-height: 16px;
display: flex;
align-items: center;
max-width: 160px;
 border-radius: 4px;
padding: 11px 20px 11px 16px;
background-color: #305DB8;
transition: background 500ms;
}
.form-social-Facebook:active,
.form-social-Facebook:hover,
.form-social-Facebook:focus{
    background: #022263;
}
.form-social-Google{
font-size: 16px;
line-height: 16px;
display: flex;
align-items: center;
max-width: 160px;
border-radius: 4px;
padding: 11px 26px 11px 10px;
background-color: #DF4A32;
transition: background 500ms;
}
.form-social-Google:active,
.form-social-Google:hover,
.form-social-Google:focus{
    background: #AB1F09;
}

.form-social-Facebook img {
    border-right: 1px solid rgba(10, 22, 47, 0.1) ;
    margin-right: 18px;
    padding: 2px 18px 2px 0px;
}
.form-social-Google img {
    border-right: 1px solid rgba(10, 22, 47, 0.1) ;
    margin-right: 30px;
    padding: 4px 7px 4px 0px;
}
.form-split-line {
position: relative;
display: flex;
justify-content: center;
margin-bottom: 17px;
}
.form-split-line span {
    font-size: 14px;
line-height: 14px;
color: #848484;
position: absolute;
background-color: #fff;
bottom: -6px;
padding: 0px 2px;
}
.form-split-line::before {
content: "";
display: block;
width: 100%;
height: 1px;
background-color: #F2F2F2;;
position: absolute;
}
.form-input input{
    margin-bottom: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    width: 100%;
    padding: 14px 20px;
}
.form-input input:focus {
    background: #FFFFFF;
box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
outline: none;
}

.form-input{ 
    display: flex;
    flex-wrap: wrap;
}
.form-input input::placeholder {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}
.form-chekbox {
    display: flex;
    align-items: center;
}
.form-text-agree {
    color: #434343;
    font-size: 14px;
line-height: 14px;
margin-left: 8px;
}
.default-checkbox{
    width: 20px;
    height: 20px;
    margin: 0px;
}
.form-text-color {
    font-size: 14px;
    line-height: 14px;
    color: #3cb878;
}
.form-btn {
    padding: 16px 99px;
    font-size: 16px;
line-height: 16px;
width: 100%;
color: #fff;
background: rgba(60, 184, 120, 0.8);
border-radius: 4px;
border: none;
margin-top: 36px;
cursor:pointer;
transition: background 500ms ;
}
.form-btn:hover{
    background: #01813F;
    
}
.form-btn:focus,
.form-btn:active {
    background: #01813F;
    
}