body{
	background-color: black;
	color: #fbcf00;
	overflow: hidden;
	width: 100%;
}
.wrapper {
position: absolute;
width: 1500px;
height: 1200px; 
bottom: 0;
transform: perspective(700px) rotateX(40deg);
transform-origin: 50% 100%;
text-align: justify;

}
.text-gif {
	font-size: 100px;
	line-height: 170px;
	position: absolute;
	animation-name: test-animtion;
animation-duration: 30s;
animation-iteration-count: infinite;
animation-timing-function: linear;
text-align: center;
}
@keyframes test-animtion {
	0% {
top: 100%;

	}
	100% {
		
		top:-370%;
	}
}