
*{
margin: 0;
padding: 0;
}
.body-size {
width: 1280px;
margin: auto;
}
    
.under-the-text > li  { 
list-style-type: none;
margin: 25px 72px 25px 0px;
display: inline-block;
}
.text {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
text-align: center;
}
a {
text-decoration: none;
color: #FF0000;
font-size: 18px;
font-weight: bold;
line-height: 18px;
text-transform: uppercase;
}
.picture {
width: 1280px;
height: 789px;
margin: 0px 0px 38px 0px;
}
.big-text {
font-weight: bold;
font-size: 22px;
line-height: 27px;
text-transform: uppercase;
color: #373737;
text-align: center;
margin-top: 48px;
}
.font {
font-weight: normal;
font-size: 16px;
line-height: 26px;
}
.first {
margin-bottom: 28px;
}
.but {
text-align: center;
margin-top: 66px;
}
.push {
    border-style:solid;
border-color: #FF0000 ;
background: #FF0000;
border-radius: 4px ;
color: #FFFFFF; 
text-transform: uppercase;
font-size: 12px;
line-height: 12px;
padding: 18px 43px;
align-items: center;
font-weight: bold;
}
.text-basement {
font-weight: bold;
font-size: 16px;
line-height: 20px;
}
.basement {
margin: 82px 105px 29px 713px;
}