@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.container {
    width: 1366px;
    min-height: 768px;
    margin: 0 auto;
    background-image: url(../img/background\ 1.png);
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding: 46px 162px 15px;
}
.header-logo-items {
    display: flex;
}
.header-logo-img {
    background-image: url("../img/logo\ 3.png");
    width: 53px;
    height: 47px;
}
.header-logo-items:hover .header-logo-img {
    background-image: url("../img/Logo\ \(1\).png");
}
.header-logo-items:hover .header-text-item {
    color: #F26522;
}
.header-text-item {
    font-weight: bold;
font-size: 29px;
line-height: 29px;
margin-top: 3px;
margin-left: 10px;
}
.header-text-small {
display: block;
font-weight: bold;
font-size: 18px;
line-height: 18px;
margin: 0px;
}
.header-link {
    display: flex;
    justify-content: space-between;
}
.header-contant {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.header-contant a {
    font-size: 18px;
line-height: 18px;
}
.header-contant a:hover {
    color: #F26522;
}
.main-icon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    margin-top: 22px;
    grid-column-gap: 61px;
}
.main-icon-buy {
  min-width: 300px;
  height: 220px;
} 
.main-price-block {
    position: relative;
}
.main-items-text  {
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 37px;
}
.main-items-text:hover a {
    color: #F26522;
}
.footer-text {
    font-size: 12px;
line-height: 12px;
text-align: center;
margin-top: 12px;
}
.main-tour-item {
position: absolute;
bottom: 79px;
left: 0;
background-color: #F26522;
width: 300px;
justify-content: space-between;
align-items: flex-end;
padding: 7px 16px 12px;
visibility: hidden;
/* display: none; */
transition: visibility 0s linear 0.5s;
}
.main-price-block:hover .main-tour-item {
/* display: flex; */
visibility:visible ;
}
.main-tour-item > div {
    display: inline-block;
}
.main-price dd {
    margin-top: 8px; 
    font-size: 20px;
line-height: 20px;
}
.main-price dl {
    font-size: 10px;
line-height: 10px;
}
.main-price-info {
    font-size: 14px;
    line-height: 14px;
}
.main-price-info::after {
    content: url("../img/arrow.svg");
    width: 5px;
    height: 10px;
    display: inline-block;
    margin-left: 16px;
    position: relative;
    top: 1px;
}