.container {
font-family: 'Arimo', sans-serif;
border: 30px solid #3A4965;
color: #484848;
margin: 0 auto;
}
tr:nth-child(2n):not(:last-child){
    background: #E3E3E3; 
}
tr:nth-child(2n + 1){
    background-color:#F2F2F2;
}
.table-text-tall {
    background-color: #FFFFFF;
}
.text-bottom {
display: flex;
flex-direction: column;
font-size: 18px;
font-weight: bold;
}
.text-bottom span {
font-size: 30px;
} 
.table-main-item-second {
font-size: 18px;
background-color: #FFFFFF;
}
.table-main {
font-weight: bold;
font-size: 24px;
color: #FFFFFF;
border-left:none ;

}
.table-main-green {
background: #89C331;
border-left:2px solid #89C331;;

}
.table-main-red {
background: #F04A56;
font-size: 30px;
}
.table-main-blue {
background: #20807C;
}
.table-text-item{
    line-height: 16px;
}

td {
text-transform: uppercase;
line-height: 28px;
width: 280px;
height: 72px;
text-align: center;
vertical-align: middle;
border-left: 1px solid #DDDDDD;
}
.table-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
font-size: 16px;
line-height: 16px;
text-transform: uppercase;
color: #FFFFFF;
border: none;
padding: 18px 58px;
border-radius: 5px;
box-shadow: inset 0px -9px 0px 0px rgba(0, 0, 0, 0.25);
}

.table-btn-first {
    padding: 18px 45px;
    background: #484848;
}
.table-btn-first:hover {
    background: #222222;
    transition: 500ms;
    cursor:pointer;
}
.table-btn-second {
    background-color:  #89C331;
}
.table-btn-second:hover {
    background-color:  #6c9928;
    transition: 500ms;
    cursor:pointer;
}

.table-btn-third {
    background: #F04A56;
}
.table-btn-third:hover {
    background: #eb222f;
    transition: 500ms;
    cursor:pointer;
}
.table-btn-fourth {
    background: #20807C;
}
.table-btn-fourth:hover {
    background: #125754;
    transition: 500ms;
    cursor:pointer;
}

.table-btn-fond-first {
    background-color: #dadadacc;
}
.table-btn-fond-third {
    background-color: #FFFFFF;
}
.table-main-item-second div {
    padding: 26px 6px 13px 32px;
    display: flex;
    position: relative;
    width: 279px;
}
.table-main-item-second div::after{
    content: ".99";
    position: absolute;
    font-weight: bold;
font-size: 24px;
line-height: 28px;
text-transform: uppercase;
top: -1px;
right: 115px;

}
.table-money{
    font-weight: bold;
font-size: 60px;
line-height: 28px;
text-transform: uppercase;
}
.table-widget-box::before {
content: url(../img/box.png);
margin-right: 4px;
}
.table-widget-cloud::before{
    content: url(../img/cloud.png);
    margin-right: 4px;
}
.table-widget-letter::before {
    content: url(../img/letter.png);
    margin-right: 4px;
}
.table-widget-lifebuoy::before{
    content: url(../img/lifebuoy.png);
    margin-right: 4px;
}
.table-widget-shell::before {
    content: url(../img/shell.png);
    margin-right: 4px;
}
.table-widget-people::before{
    content: url(../img/people.png);
    margin-right: 4px;
}